@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --background-color: #fff;
  --nav-background-color: #1f544c;
  --write-text-color: #ffffff;
  --black-text-color: #000;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: var(--write-text-color);
}

.dashboard-container {
  display: flex;
  gap: 2rem;
}

.navigation {
  width: 250px;
  height: 100vh;
  background-color: var(--nav-background-color);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 2rem;
}
.navigation h2 {
  color: var(--write-text-color);
  font-size: 2rem;
  font-weight: 700;
}
.nav-items {
  list-style: none;
}
.nav-items li {
  padding: 0.3rem 0;
  margin-top: 3rem;
  border-radius: 3rem;
}
.nav-items li a {
  font-size: 1.5rem;
  margin-left: 1rem;
}
.nav-items li:hover {
  background-color: var(--background-color);
  border: 1px solid var(--write-text-color);
}
.nav-items li:hover a {
  color: var(--black-text-color);
}
.logout-btn:hover {
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-thickness: 2px;
}

.dashboard {
  width: calc(100% - 300px);
  height: 100vh;
}
.search-box {
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.search-box input {
  width: 30%;
  font-size: 1.5rem;
  border: 2px solid var(--black-text-color);
  border-radius: 5px;
}
body {
  font-family: "lato", sans-serif;
}
.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

h2 {
  font-size: 26px;
  margin: 20px 0;
  text-align: center;
  small {
    font-size: 0.5em;
  }
}

.responsive-table {
  li {
    border-radius: 3px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }
  .table-header {
    background-color: #95a5a6;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
  }
  .table-row {
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
  }
  .col-1 {
    flex-basis: 40%;
  }
  .col-2 {
    flex-basis: 10%;
  }
  .col-3 {
    flex-basis: 25%;
  }
  .col-4 {
    flex-basis: 25%;
  }

  @media all and (max-width: 767px) {
    .navigation {
      display: none;
      width: 0;
      height: 0;
    }
    .table-header {
      display: none;
    }
    .table-row {
    }
    li {
      display: block;
    }
    .col {
      flex-basis: 100%;
    }
    .col {
      display: flex;
      padding: 10px 0;
      &:before {
        color: #6c7a89;
        padding-right: 10px;
        content: attr(data-label);
        flex-basis: 50%;
        text-align: right;
      }
    }
  }
}
