{% extends "base.html" %} {% load static %} {% block content %}
<section class="vh-100 bg-image">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div
            class="card shadow p-3 mb-5 bg-body rounded"
            style="border-radius: 15px"
          >
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Create an account</h2>

              <form method="POST">
                {% csrf_token %}
                <div data-mdb-input-init class="form-outline mb-4">
                  <input
                    type="text"
                    id="form3Example1cg"
                    class="form-control form-control-lg"
                    placeholder="Fullname"
                    name="fullname"
                    required
                  />
                </div>

                <div data-mdb-input-init class="form-outline mb-4">
                  <input
                    type="email"
                    id="form3Example3cg"
                    class="form-control form-control-lg"
                    placeholder="Email"
                    name="email"
                    required
                  />
                </div>
                <div data-mdb-input-init class="form-outline mb-4">
                  <select
                    id="role"
                    class="form-control form-control-lg"
                    name="role"
                  >
                    <option selected>Choose Role</option>
                    <option value="Doctor">Doctor</option>
                    <option value="Nurse">Nurse</option>
                  </select>
                </div>

                <div data-mdb-input-init class="form-outline mb-4">
                  <input
                    type="password"
                    id="form3Example4cg"
                    class="form-control form-control-lg"
                    placeholder="Password"
                    name="password"
                    required
                  />
                </div>

                <div data-mdb-input-init class="form-outline mb-4">
                  <input
                    type="password"
                    id="form3Example4cdg"
                    class="form-control form-control-lg"
                    placeholder="Repeat-password"
                    name="password2"
                    required
                  />
                </div>

                <div class="d-flex justify-content-center">
                  <button
                    type="submit"
                    data-mdb-button-init
                    data-mdb-ripple-init
                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body spinnerBtn"
                  >
                    Register
                  </button>
                </div>
              </form>
            </div>
            <a href="{% url 'admin_dashboard' %}" class="fw-bold text-body"
              ><u>Back to Dashboard</u></a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="pagepreloader" style="display: none"></div>
</section>
{% endblock %}
