<div style="background-color: #c2c2c2; padding: 15px">
  <h2
    style="
      margin: 0;
      padding: 10px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      background-color: #1f544c;
      color: #ffffff;
    "
  >
    Verify Email
  </h2>
  <div style="margin: 0; padding: 15px; background-color: #ffffff">
    <p>Hi {{ user.full_name }},</p>
    <p>
      You created an account on RetiscanAI, you need to verify your email.
      Please click on the button below to verify your email.
    </p>
    <a
      href="{{ request.scheme }}://{{ domain }}{% url 'verify-email-confirm' uidb64=uid token=token %}"
      style="
        border: 0;
        color: #ffffff;
        background-color: #1f544c;
        padding: 15px;
        font-weight: bold;
        text-decoration: none;
        border-radius: 5px;
        text-align: center;
        width: 200px;
        display: block;
        margin: auto;
      "
    >
      Click to Verify Email
    </a>

    <p>The RetiscanAI Team</p>
  </div>
</div>
