<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <label for="image">Select image:</label>
  <input type="file" id="image" name="image" accept="image/*" />
  <input type="submit" value="Upload" />
</form>

<h1>pridiction class:{{predicted_class}}</h1>
{% if original_image %}
<h2>Original Image:</h2>
<img
  src="data:image/png;base64,{{ original_image|safe }}"
  alt="Original Image"
/>
{% endif %} {% if gradcam_image %}
<h2>Grad-CAM Heatmap:</h2>
<img
  src="data:image/png;base64,{{ gradcam_image|safe }}"
  alt="Grad-CAM Heatmap"
/>
{% endif %}
