{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>Admin Dashboard</title>

    <!-- Montserrat Font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />

    <!-- Material Icons -->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
      rel="stylesheet"
    />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/styles2.css' %}" />
  </head>
  <body>
    <div class="grid-container">
      <!-- Header -->
      <header class="header">
        <div class="menu-icon" onclick="openSidebar()">
          <span class="material-icons-outlined">menu</span>
        </div>
        <div class="header-left">
          <span class="material-icons-outlined">search</span>
        </div>
        <div class="header-right">
          <span class="material-icons-outlined">notifications</span>
          <span class="material-icons-outlined">email</span>
          <span class="material-icons-outlined">account_circle</span>
        </div>
      </header>
      <!-- End Header -->

      <!-- Sidebar -->
      <aside id="sidebar">
        <div class="sidebar-title">
          <div class="sidebar-brand">RetiscanAI</div>
          <span class="material-icons-outlined" onclick="closeSidebar()"
            >close</span
          >
        </div>

        <ul class="sidebar-list">
          <li class="sidebar-list-item">
            <a href="#" target="_blank">Dashboard </a>
          </li>
          <li class="sidebar-list-item">
            <a href="#" target="_blank"> Patients </a>
          </li>

          <li class="sidebar-list-item">
            <a href="#" target="_blank"> logout </a>
          </li>
        </ul>
      </aside>
      <!-- End Sidebar -->

      <!-- Main -->
      <main class="main-container">
        <div class="main-title">
          <h2>DASHBOARD</h2>
        </div>

        <div class="charts">
          <div class="charts-card">
            <h2 class="chart-title">DR Categories</h2>
            <canvas id="barChart"></canvas>
          </div>

          <div class="charts-card">
            <h2 class="chart-title">Gender with DR</h2>
            <canvas id="pieChart"></canvas>
          </div>
        </div>
      </main>
      <!-- End Main -->
    </div>

    <!-- Scripts -->
    <!-- ApexCharts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.35.5/apexcharts.min.js"></script>
    <!-- Custom JS -->
    <script src="{% static 'js/scripts.js' %}"></script>
    <!-- Include Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>

    <script>
          var classCounts = {{ class_counts|safe }};
          var genderCounts = {{ gender_counts|safe }};

          var ctx = document.getElementById('barChart').getContext('2d');
          var colors = ['rgba(255, 99, 132, 0.2)', 'rgba(54, 162, 235, 0.2)', 'rgba(255, 206, 86, 0.2)', 'rgba(75, 192, 192, 0.2)', 'rgba(153, 102, 255, 0.2)'];
          var classCountsValues = Object.values(classCounts);
          var backgroundColors = colors.slice(0, classCountsValues.length);
          var borderColors = backgroundColors.map(color => color.replace('0.2', '1'));

          var barChart = new Chart(ctx, {
              type: 'bar',
              data: {
                  labels: Object.keys(classCounts),
                  datasets: [{
                      label: 'Dr patient',
                      data: classCountsValues,
                      backgroundColor: backgroundColors,
                      borderColor: borderColors,
                      borderWidth: 1
                  }]
              },
              options: {
                  scales: {
                      y: {
                          beginAtZero: true
                      }
                  }
              }
          });

          async function fetchGenderCounts() {
          const response = await fetch('{% url "gender_counts_json" %}');
          const data = await response.json();
          return data;
      }

      function createPieChart(genderCounts) {
          const ctxp = document.getElementById('pieChart').getContext('2d');
          const total = Object.values(genderCounts).reduce((a, b) => a + b, 0);

          return new Chart(ctxp, {
              type: 'pie',
              data: {
                  labels: Object.keys(genderCounts),
                  datasets: [{
                      data: Object.values(genderCounts),
                      backgroundColor: ['rgba(255, 99, 132, 0.2)', 'rgba(54, 162, 235, 0.2)', 'rgba(255, 206, 86, 0.2)'],
                      borderColor: ['rgba(255, 99, 132, 1)', 'rgba(54, 162, 235, 1)', 'rgba(255, 206, 86, 1)'],
                      borderWidth: 1
                  }]
              },
              options: {
                  plugins: {
                      datalabels: {
                          formatter: (value, context) => {
                              let percentage = (value / total * 100).toFixed(2) + '%';
                              return context.chart.data.labels[context.dataIndex] + ': ' + percentage;
                          },
                          color: '#fff',
                      }
                  }
              },
              plugins: [ChartDataLabels]
          });
      }

      async function init() {
          const genderCounts = await fetchGenderCounts();
          createPieChart(genderCounts);
      }

      init();
    </script>
  </body>
</html>
