{% extends "base.html" %} {% load static %} {% block content %}
<div class="grid-container">
  <!-- Sidebar -->
  <aside id="sidebar">
    <div class="sidebar-title">
      <div class="sidebar-brand">RetiscanAI</div>
      <span class="material-icons-outlined" onclick="closeSidebar()"
        >close</span
      >
    </div>

    <ul class="sidebar-list">
      <li class="sidebar-list-item" id="nav_dashboard">
        <a href="#">Dashboard </a>
      </li>
      <li class="sidebar-list-item" id="nav_patient">
        <a href="#">Patients </a>
      </li>

      <li class="sidebar-list-item">
        <a href="{% url 'logout' %}" target="_blank"> logout </a>
      </li>
    </ul>
  </aside>
  <!-- End Sidebar -->

  <!-- Main -->
  <main class="main-container" id="dashboard_section">
    <div class="main-title">
      <h2>DASHBOARD</h2>
    </div>

    <div class="charts">
      <div class="charts-card">
        <h2 class="chart-title">Gender with DR</h2>
        <canvas id="pieChart"></canvas>
      </div>
      <div class="charts-card">
        <h2 class="chart-title">DR Categories</h2>
        <canvas id="barChart"></canvas>
      </div>
    </div>
  </main>
  <!-- End Main -->
  <main class="main-container" id="patient_section">
    <div class="col py-3">
      <div class="container-fluid p-4">
        <div class="row align-items-start">
          <div class="col">
            <h2 class="underlined-text">Patients</h2>
          </div>
          <div class="col-12 col-md-6 col-lg-3 d-flex align-items-center">
            <form class="d-flex flex-column flex-md-row w-100">
              <div
                class="input-group rounded-pill me-2 mb-3 mb-md-0 flex-grow-1"
              >
                <input
                  class="form-control w-75"
                  type="search"
                  placeholder="Search Patients"
                  aria-label="Search"
                />
                <button class="btn btn-green" type="submit">
                  <i class="bi bi-search bi-sm"></i>
                </button>
              </div>
              <a
                href="{% url 'form' %}"
                class="btn btn-green rounded-pill d-flex align-items-center"
              >
                <i class="bi bi-plus"></i> New
              </a>
            </form>
          </div>
        </div>
      </div>
      <div class="container-fluid px-5">
        <table class="table">
          <thead>
            <tr class="text-success table-primary">
              <th scope="col">Name</th>
              <th scope="col">Date</th>
              <th scope="col">Phone Number</th>
              <th scope="col">Gender</th>
              <th scope="col">Result</th>
            </tr>
          </thead>
          <tbody class="table-group-divider">
            {% for patient in patients %}
            <tr>
              <td>
                <a href="{% url 'result' patient.id %}" class="text-black">
                  {{ patient.full_name }}
                </a>
              </td>
              <td>{{ patient.birth_date }}</td>
              <td>{{ patient.phone_number }}</td>
              <td>{{ patient.gender }}</td>
              <td>{{patient.predicted_class_name}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item">
            <a class="page-link" href="#">Previous</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
      </nav>
    </div>
  </main>
</div>
{%endblock%}
