{% extends "base.html" %} {% load static %} {% block content %}
<div class="container mt-4">
  <!-- Modal -->
  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Confirm Result</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <form action="{% url 'update_patient' patient.id %}" method="POST">
          {% csrf_token %}
          <div class="modal-body">
            <div class="mb-3">
              <label for="exampleFormControlTextarea1" class="form-label"
                >Write Prescribe Here</label
              >
              <textarea
                class="form-control"
                id="exampleFormControlTextarea1"
                rows="3"
                name="description"
              ></textarea>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-danger"
              data-bs-dismiss="modal"
            >
              Cancel
            </button>
            <button type="submit" class="btn btn-success">Confirm</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-12">
      <div class="card">
        <div class="card-body d-flex justify-content-between">
          <h5 class="card-title">
            Patient: {{ patient.full_name }} | {{ patient.birth_date }} |
            {{patient.gender }}
          </h5>
          {% if user.role == "Doctor" %}
          <a
            href="#"
            class="btn btn-success"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
            >Prescribe</a
          >
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 mb-3">
      <div class="card">
        <h6 class="card-title mb-2 text-black text-center pt-4">
          Original Retina image
        </h6>
        <div class="card-body">
          <img
            src="{{patient.eye_image.url}}"
            class="img-fluid rounded object-fit-cover"
            style="width: 100%"
            alt="Eye image"
          />
        </div>
      </div>
    </div>

    <div class="col-md-8 mb-3 border rounded-3 d-flex">
      <div class="card col-md-6 border-0">
        <h6 class="card-title mb-2 text-black text-center pt-4">
          Grad-CAM Heatmap
        </h6>
        <div class="card-body">
          <img
            src="data:image/png;base64,{{patient.gradcam_image|safe}}"
            class="img-fluid rounded object-fit-cover"
            style="width: 100%; height: auto"
            alt="Grad-CAM Heatmap"
          />
        </div>
      </div>
      <div class="card col-md-6 border-0">
        <h6 class="card-title mb-2 text-black text-center pt-4">
          Quadrant Image
        </h6>
        <div class="card-body">
          <div class="image-wrapper">
            <img
              src="data:image/png;base64,{{patient.quadrants_image|safe}}"
              class="img-fluid rounded object-fit-cover"
              style="width: 100%; height: auto"
              alt="Grad-CAM Heatmap"
            />
          </div>
        </div>
      </div>
    </div>
    <a href="{% url 'dashboard' %}" class="btn btn-primary"
      >back to Dashboard</a
    >
  </div>
</div>
<script>
  const accordionItems = document.querySelectorAll(".border-b");

  accordionItems.forEach((item) => {
    item.addEventListener("click", () => {
      item.nextElementSibling.classList.toggle("hidden");
    });
  });
</script>
{% endblock %}
